In [1]:
import pandas as pd

In [2]:
hotels = pd.read_csv('hotels.csv')
hotels.head(3)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643

In [53]:
hotels['negative_review'].value_counts().head(120).tail(20)

 No complaints at all             39
 Price of breakfast               39
 Breakfast could be better        39
 Nothing everything was great     38
 Everything was fine              38
 Room a bit small                 38
 no                               37
 all good                         37
 Cost                             37
 no complaints                    37
 Nothing all good                 37
 Nothing it was perfect           37
 Everything                       36
 Very expensive                   36
 No negatives                     36
 No problems                      36
 Not a thing                      36
 No pool                          35
 Nothing comes to mind            35
 Nothing to mention               35
Name: negative_review, dtype: int64

In [54]:
keyphrase_list = ['no negative',
                  'nothing',
                  'n a',
                  'na',
                  'none',
                  'non',
                  'all good',
                  'nothing really',
                  'no complaints',
                  'nil',
                  'nothing to dislike',
                  'nothing at all',
                  'everything was great',
                  'no',
                  'no nothing',
                  'everything was perfect',
                  'absolutely nothing',
                  'can t think of anything',
                  'nothing to complain about',
                  'leaving',
                  'nothing not to like',
                  'liked everything',
                  'having to leave',
                  'not much',
                  'everything was good',
                  'all was good',
                  'i liked everything',
                  'not applicable'
                  ]
#
def generate_no_negative_code(element):
    for i in keyphrase_list:
        if i == str.lower(str.strip(element)):
            return 1
    return 0
hotels['No_negative'] = hotels['negative_review'].apply(generate_no_negative_code)

In [ ]:
keyphrase_list = ['no positive',
                  'nothing',
                  'n a',
                  'na',
                  'none',
                  'non',
                  'all good',
                  'nothing really',
                  'no complaints',
                  'nil',
                  'nothing to dislike',
                  'nothing at all',
                  'everything was great',
                  'no',
                  'no nothing',
                  'everything was perfect',
                  'absolutely nothing',
                  'can t think of anything',
                  'nothing to complain about',
                  'leaving',
                  'nothing not to like',
                  'liked everything',
                  'having to leave',
                  'not much',
                  'everything was good',
                  'all was good',
                  'i liked everything',
                  'not applicable'
                  ]
#
def generate_no_negative_code(element):
    for i in keyphrase_list:
        if i == str.lower(str.strip(element)):
            return 1
    return 0
hotels['No_negative'] = hotels['negative_review'].apply(generate_no_negative_code)

In [55]:
hotels['No_negative'].value_counts()

0    267908
1    118895
Name: No_negative, dtype: int64

In [56]:
keyphrase_list = ['everything',
                  'price',
                  'staff',
                  'small room',
                  'small rooms',
                  'breakfast',
                  'location',
                  'expensive',
                  'room size',
                  'expensive breakfast',
                  'pillows',
                  'parking',
                  'no parking',
                  'the price',
                  'size of room',
                  'bathroom',
                  'wifi',
                  'room too small',
                  'room very small',
                  'room was very small',
                  'very small rooms',
                  'size of the room'
                  ]
#
def generate_negative_code(element):
    for i in keyphrase_list:
        if i == str.lower(str.strip(element)):
            return 1
    return 0
hotels['negative'] = hotels['negative_review'].apply(generate_negative_code)

In [ ]:
hotels['negative'].value_counts()

In [67]:
hotels['positive_review'].value_counts().head(60).tail(20)

 Comfortable bed               103
 Cleanliness                   101
 Location location location    100
 Breakfast was good             99
 Everything was perfect         99
 Great breakfast                94
 Central location               94
 Location was excellent         94
 Position                       89
 breakfast                      87
 Helpful staff                  85
 The bed                        84
 Staff and location             84
 Excellent breakfast            83
 Location and breakfast         82
 Very good location             82
 Location was great             80
 Location Staff                 79
 Not much                       78
 Location only                  78
Name: positive_review, dtype: int64

In [68]:
keyphrase_list = ['everything',
                  'every thing',
                  'all'
                  ]
#
keyword_list = [  'price',
                  'staff',
                  'breakfast',
                  'location',
                  'parking',
                  'cleanliness',
                  'position',
                  'the bed'
                  ]
def generate_negative_code(element):
    for i in keyphrase_list:
        if i == str.lower(str.strip(element)):
            return 1
    for i in keyword_list:
        if i in str.lower(str.strip(element)):
            return 1
    return 0
hotels['Positive'] = hotels['positive_review'].apply(generate_negative_code)

In [69]:
hotels['Positive'].value_counts()

1    261844
0    124959
Name: Positive, dtype: int64

In [70]:
keyphrase_list = ['no positive',
                  'nothing',
                  'not much'
                  ]
#
def generate_code(element):
    for i in keyphrase_list:
        if i == str.lower(str.strip(element)):
            return 1
    return 0
hotels['No_positive'] = hotels['positive_review'].apply(generate_code)

In [71]:
hotels['No_positive'].value_counts()

0    358510
1     28293
Name: No_positive, dtype: int64

In [18]:
hotels['Negative_2'] = hotels['negative_review'].apply(lambda s: 0 if str.lower(str.strip(s)) == 'nothing' else 1)

In [19]:
hotels['Negative_2'].value_counts()

1    370921
0     15882
Name: Negative_2, dtype: int64

In [5]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = hotels.drop(['reviewer_score'], axis = 1)  
y = hotels['reviewer_score']

In [6]:
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split

/home/anna/snap/jupyter/common/lib/python3.7/site-packages/joblib/_multiprocessing_helpers.py:45: UserWarning: [Errno 13] Permission denied.  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))

In [7]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [8]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [9]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений от фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.14138286324223787

Небольшой бонус:

In [10]:
# # убираем признаки которые еще не успели обработать, 
# # модель на признаках с dtypes "object" обучаться не будет, просто выберим их и удалим
# object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
# hotels.drop(object_columns, axis = 1, inplace=True)

# # заполняем пропуски самым простым способом
# hotels = hotels.fillna(0)

srgfrwegrgrg

In [ ]:
# у нас 6 уникальных городов. Определим для них координаты
town_list = list(hotels['town'].value_counts().index)
#
for town_name in town_list:
    print(hotels[hotels['town'] == town_name].shape[0])
    
    latitude = hotels[hotels['town'] == town_name]['lat'].iloc[1]
    longitude = hotels[hotels['town'] == town_name]['lng'].iloc[1]
    print(latitude)
    print(longitude)
    hotels[hotels['town'] == town_name] = hotels[hotels['town'] == town_name].fillna({'lat': latitude, 'lng': longitude}, inplace=True)

In [ ]:
# у нас 6 уникальных городов. Определим для них координаты
town_list = list(hotels['town'].value_counts().index)
#
for town_name in town_list:
    latitude = 5
    longitude = 1
    hotels = hotels[hotels['town'] == town_name].fillna({'lat': latitude, 'lng': longitude})

In [ ]:
town_list = list(hotels['town'].value_counts().index)
town_list

In [ ]:
hotels['town'] = hotels['hotel_address'].apply(lambda s: s.split()[-2]) # выделяем признак "город" в отдельный столбец (предпоследнее слово в строке адреса отеля)