In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
houses_data = pd.read_csv('data/boston.csv')
houses_data

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,"0,00632",18,"2,31",0,"0,538","6,575","65,2","4,09",1,296,"15,3","4,98",24
1,"0,02731",0,"7,07",0,"0,469","6,421","78,9","4,9671",2,242,"17,8","9,14","21,6"
2,"0,02729",0,"7,07",0,"0,469","7,185","61,1","4,9671",2,242,"17,8","4,03","34,7"
3,"0,03237",0,"2,18",0,"0,458","6,998","45,8","6,0622",3,222,"18,7","2,94","33,4"
4,"0,06905",0,"2,18",0,"0,458","7,147","54,2","6,0622",3,222,"18,7","5,33","36,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,"0,06263",0,"11,93",0,"0,573","6,593","69,1","2,4786",1,273,21,"9,67","22,4"
502,"0,04527",0,"11,93",0,"0,573","6,12","76,7","2,2875",1,273,21,"9,08","20,6"
503,"0,06076",0,"11,93",0,"0,573","6,976",91,"2,1675",1,273,21,"5,64","23,9"
504,"0,10959",0,"11,93",0,"0,573","6,794","89,3","2,3889",1,273,21,"6,48",22
505,"0,04741",0,"11,93",0,"0,573","6,03","80,8","2,505",1,273,21,"7,88","11,9"

In [3]:
columns = ['crim_rate','business','nit_oxiden','zn','rooms','age','dist','pup_per_teaс','lower','target']
for column in columns:
    houses_data[column] = houses_data[column].apply(lambda x: x.replace(',','.'))
    houses_data[column] = pd.to_numeric(houses_data[column])
    
houses_data

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

In [4]:
houses_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    float64
 1   zn              506 non-null    float64
 2   business        506 non-null    float64
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    float64
 5   rooms           506 non-null    float64
 6   age             506 non-null    float64
 7   dist            506 non-null    float64
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    float64
 11  lower           506 non-null    float64
 12  target          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [5]:
X = houses_data.drop(['target'], axis=1).values
y = houses_data['target'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, shuffle=False)

In [6]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(mean_squared_error(y_test, y_pred))

72.26036032261568

Задание 6.4.2
0.0/2.0 points (graded)
Заведите массив для объектов DecisionTreeRegressor (будем их использовать в качестве базовых алгоритмов) и для вещественных чисел (это будут коэффициенты перед базовыми алгоритмами).

In [7]:
def gbm_predict(X):
    return [sum([coeff * algo.predict([x])[0] for algo, coeff in zip(base_algorithms_list, coefficients_list)]) for x in X]

In [8]:
coef = 0.9
tree = DecisionTreeRegressor(max_depth=5, random_state=139)

base_algorithms_list = [tree.fit(X_train, y_train)]
coefficients_list = [coef]

for i in range(1,50):
    y_pred = gbm_predict(X_train)
    base_algorithms_list.append(tree.fit(X_train, y_train - y_pred))
    coefficients_list.append(coef)
    mse = mean_squared_error(y_train, y_pred)
    print(i, mse)

y_pred = gbm_predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

1 12.344269098260854
2 477.08289253063356

3 1051.9906317867437
4 20381.77962082171
5 379376.5146633405
6 11238517.73554046
7 444942933.6053538
8 23073854456.135838
9 1513810678781.7146
10 122619249179467.14
11 1.2017906828504926e+16
12 1.4017687149394053e+18
13 1.9188811865724286e+20
14 3.0464157727232113e+22
15 5.552092745663738e+24
16 1.1512819517426232e+27
17 2.6950359208340325e+29
18 7.07285227063688e+31
19 2.068172732456928e+34
20 6.700879653160446e+36
21 2.3936212209054405e+39
22 9.383952634437699e+41
23 4.020929864330213e+44
24 1.8760050375019045e+47
25 9.497275502353383e+49
26 5.200328174068615e+52
27 3.070741783505773e+55
28 1.9500438621975038e+58
29 1.3283893793675627e+61
30 9.683958575589511e+63
31 7.538090194824627e+66
32 6.252393531195339e+69
33 5.5151738099321e+72
34 5.164188148668025e+75
35 5.124165690515842e+78
36 5.379144175275908e+81
37 5.964879184521701e+84
38 6.976761289383967e+87
39 8.595439676133949e+90
40 1.1139689820269577e+94
41 1.5167913056177267e+97
42 2.167252089118833e+100
43 3.2458717813523792e+103
44 5.090046292645545e+106
45 8.348948431511855e+109
46 1.4309763653674059e+113
47 2.5604317007882417e+116
48 4.778380057279051e+119
49 9.29304131919687e+122

1.0771284336606987e+63

Задание 6.4.2

альтернативный вариант, который по какой-то причине сходится

In [9]:
base_algorithms_list = []
coefficients_list = []
coef = 0.9

tree = DecisionTreeRegressor(max_depth=5, random_state=139)
base_algorithms_list = [tree.fit(X_train, y_train)]
coefficients_list = [coef]

def L(p, y):
    return y-p

for i in range(50):
    y_pred = gbm_predict(X_train)
    #base_algorithms_list.append(tree.fit(X_train, L(y_pred, y_train)))
    base_algorithms_list.append(DecisionTreeRegressor(max_depth=5, random_state=139).fit(X_train, L(y_pred, y_train)))
    coefficients_list.append(coef)
    mse = mean_squared_error(y_train, y_pred)
    #print(i, mse)
    

y_pred = gbm_predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

5.615321190382683

Задание 6.4.3

In [10]:
base_algorithms_list = []
coefficients_list = []
coef = 0.9

tree = DecisionTreeRegressor(max_depth=5, random_state=139)
base_algorithms_list = [tree.fit(X_train, y_train)]
coefficients_list = [coef]

def L(p, y):
    return y-p

for i in range(50):
    y_pred = gbm_predict(X_train)
    #base_algorithms_list.append(tree.fit(X_train, L(y_pred, y_train)))
    base_algorithms_list.append(DecisionTreeRegressor(max_depth=5, random_state=139).fit(X_train, L(y_pred, y_train)))
    coefficients_list.append(coef)
    mse = mean_squared_error(y_train, y_pred)
    coef = 0.9 / (1 + i)
    #print(i, mse)
    

y_pred = gbm_predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

5.668017279841938

Задание 6.4.5

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(mean_squared_error(y_test, y_pred))

72.26036032261568