In [13]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан','Germany','Montenegro','Serbia'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04,83.149,0.621,6.926],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902,357408,13812,88499]
})

In [16]:
countries_df['Dencity'] = round( ( countries_df['population'] * 1e6 ) / countries_df['square'], 2)
countries_df

      country  population    square  Dencity
0      Англия      56.290    133396   421.98
1      Канада      38.050   9984670     3.81
2         США     322.280   9826630    32.80
3      Россия     146.240  17125191     8.54
4     Украина      45.500    603628    75.38
5    Беларусь       9.500    207600    45.76
6   Казахстан      17.040   2724902     6.25
7     Germany      83.149    357408   232.64
8  Montenegro       0.621     13812    44.96
9      Serbia       6.926     88499    78.26

In [17]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [21]:
countries_df['Dencity'] = round( ( countries_df['population'] * 1e6 ) / countries_df['square'], 2)
round( countries_df['Dencity'].mean(), 2)

84.93

In [22]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64