In [41]:
import pandas as pd
velo_data = pd.read_csv('data/citibike-tripdata.csv', sep = ',')

In [42]:
velo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [54]:
velo_data['start station id'].shape[0]- velo_data['start station id'].count()

169

In [116]:
velo_data['start station id'].mode()[0]

KeyError: 'start station id'

In [117]:
velo_data['bikeid'].mode()[0]

33887

In [57]:
velo_data['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [119]:
velo_data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [60]:
velo_data['start station id'].nunique() - velo_data['end station id'].nunique()

-6

In [64]:
velo_data['starttime'].head()

0    2018-09-01 00:00:05.2690
1    2018-09-01 00:00:11.2810
2    2018-09-01 00:00:20.6490
3    2018-09-01 00:00:21.7460
4    2018-09-01 00:00:27.3150
Name: starttime, dtype: object

In [66]:
velo_data['Date'] = pd.to_datetime(velo_data['starttime'])

In [67]:
velo_data['Date'].head()

0   2018-09-01 00:00:05.269
1   2018-09-01 00:00:11.281
2   2018-09-01 00:00:20.649
3   2018-09-01 00:00:21.746
4   2018-09-01 00:00:27.315
Name: Date, dtype: datetime64[ns]

In [70]:
velo_data['Age_Years'] = velo_data['Date'].dt.year - velo_data['birth year']
velo_data['Age_Years'].max()

133

In [71]:
velo_data['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [72]:
velo_data['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [77]:
velo_data = velo_data.drop(['start station id','end station id'], axis=1)
velo_data = velo_data.drop(['birth year'], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  Date                     300000 non-null  datetime64[ns]
 13  Age_Years                300000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(5)
memory usage: 32.0+ MB

In [98]:
velo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  Date                     300000 non-null  datetime64[ns]
 12  Age_Years                300000 non-null  int64
 13  Date_stop                300000 non-null  datetime64[ns]
 14  trip duration            300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(5)
memory usage: 34.3+ MB

In [80]:
velo_data[velo_data['Age_Years'] > 60].count()

starttime                  11837
stoptime                   11837
start station name         11837
start station latitude     11837
start station longitude    11837
end station name           11837
end station latitude       11837
end station longitude      11837
bikeid                     11837
usertype                   11837
gender                     11837
Date                       11837
Age_Years                  11837
dtype: int64

In [82]:
velo_data['Date_stop'] = pd.to_datetime(velo_data['stoptime'])

In [100]:
velo_data['trip duration'] = velo_data['Date_stop'] - velo_data['Date']

In [103]:
velo_data['trip duration'].mean().seconds

1126

In [95]:
velo_data['trip duration'] = velo_data['trip duration'].dt.seconds

In [110]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
velo_data['weekend'] = velo_data['Date'].dt.dayofweek.apply(get_weekend)

In [111]:
velo_data['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [120]:
velo_data['weekend'].sum()

115135

In [109]:
velo_data['Date'].dt.dayofweek.value_counts()

1    68628
2    61185
6    60812
0    55052
5    54323
Name: Date, dtype: int64

In [121]:
def get_time_of_day(hour):
    if hour <= 6:
        return 'night'
    elif hour <= 12:
        return 'morning'
    elif hour <= 18:
        return 'day'
    else:
        return 'evening'
    
velo_data['time_of_day'] = velo_data['Date'].dt.hour.apply(get_time_of_day)

In [122]:
velo_data['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [123]:
round( velo_data['time_of_day'].value_counts()['day'] / velo_data['time_of_day'].value_counts()['night'] )

9