In [36]:
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [37]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [39]:
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933-04-18 19:00:00

In [32]:
ufo['Year'] = ufo['Date'].dt.year
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Date,Year
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,1930-06-01 22:00:00,1930
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,1930-06-30 20:00:00,1930
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,1931-02-15 14:00:00,1931
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,1931-06-01 13:00:00,1931
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,1933-04-18 19:00:00,1933

In [40]:
ufo['Date'].dt.year.mode()[0]

1999

In [41]:
ufo[ufo['State'] == 'NV']['Date'].diff().dt.days.mean()

68.44876325088339