<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий на hh.ru

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [144]:
#ваш код здесь
#читаем данные из csv-файла и заполняем таблицу DataFrame
data = pd.read_csv('data\dst-3.0_16_1_hh_database.csv', delimiter=';')
data.shape

(44744, 12)

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [145]:
#ваш код здесь
#смотрим что получилось
data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

4. Обратите внимание на информацию о числе непустых значений.

In [147]:
data.sort_values('Опыт работы')['Опыт работы']

19199                                           Не указано
26781                                           Не указано
14568    Опыт работы 1 год  DevOps Engineer 150 000 руб...
13484    Опыт работы 1 год  Drupal developer 140 000 ру...
29485    Опыт работы 1 год  Front-End Developer 1 500 б...
                               ...
43162                                                  NaN
43291                                                  NaN
43993                                                  NaN
44194                                                  NaN
44250                                                  NaN
Name: Опыт работы, Length: 44744, dtype: object

5. Выведите основную статистическую информацию о столбцах.

In [148]:
#ваш код здесь
data.describe(include=['object'])

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [149]:
#ваш код здесь
data['Образование'] = data['Образование и ВУЗ'].apply(lambda x: x[:x.find('образование')-1])
data['Образование'].value_counts()

Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: Образование, dtype: int64

In [150]:
#удаляем исходный столбец
data = data.drop(['Образование и ВУЗ'], axis=1)

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [151]:
#ваш код здесь
#заполняем 2 новых признака и удаляем исходный столбец
data['Пол'] = data['Пол, возраст'].apply(lambda x: x[:1])
data['Возраст'] = data['Пол, возраст'].apply(lambda x: x.split(',')[1].split(' ')[2])
data = data.drop(['Пол, возраст'], axis=1)

In [152]:
#определяем Сколько процентов женских резюме представлено в наших данных
data['Пол'].value_counts(normalize=True)

М    0.809293
Ж    0.190707
Name: Пол, dtype: float64

In [153]:
# определяем Чему равен средний возраст соискателей
data['Возраст'] = data['Возраст'].astype('int')
round(data['Возраст'].mean(),1)

32.2

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

In [154]:
#для неявных пропусков устанавливаем значение в nan
data['Опыт работы'] = data['Опыт работы'].apply(lambda s: np.nan if s == '' or s == 'Не указано' else s)

In [155]:
#считаем количество месяцев
def months_count(exp_string): #на входе - строка "Опыт работы"
   # для пропусков возвращаем nan
   if type(exp_string) == float:
      return np.nan 
   else:
      exp_list = exp_string.split() # преобразуем строку в список слов
      exp_list = exp_list[:6] # отбрасываем ненужное, осталяем первые 6 элементов списка
      # задаем контрольные списки ключевых слов периода
      years_key_words = ['год', 'года', 'лет']
      months_key_words = ['месяц', 'месяца', 'месяцев']
      m = 0 # в эту переменную будем складывать посчитанное количество месяцев
      
      for i in range(len(exp_list)):
         if exp_list[i] in years_key_words:
            try:
               m += int(exp_list[i-1]) * 12
            except ValueError:
               pass
         if exp_list[i] in months_key_words:
            try:
               m += int(exp_list[i-1])
            except ValueError:
               pass
      return m       
       
#используем функцию расчета кол-ва месяцев для столбца 'Опыт работы'
data['Опыт работы (месяц)'] = data['Опыт работы'].apply(months_count)

In [156]:
#смотрим статистику по полученному столбцу с количеством месяцев
data['Опыт работы (месяц)'].describe()

count    44574.000000
mean       114.418944
std         79.047861
min          1.000000
25%         57.000000
50%        100.000000
75%        154.000000
max       1188.000000
Name: Опыт работы (месяц), dtype: float64

In [157]:
#удаляем исходный столбец
data = data.drop(['Опыт работы'], axis=1)

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [158]:
# Заполняем признак "Город"
def city(name): # функция преобразования названия города
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    capital_city = ['Москва', 'Санкт-Петербург']
    if name in million_cities:
        return 'город-миллионник'
    elif name in capital_city:
        return name
    else:
        return 'другие'
    
data['Город'] = data['Город, переезд, командировки'].apply(lambda s: s.split()[0]) # вычленяем первое слово - название города
data['Город'] = data['Город'].apply(city)

In [159]:
# Сколько процентов соискателей живут в Санкт-Петербурге?
round(data['Город'].value_counts(normalize=True)['Санкт-Петербург'] * 100)

11

In [160]:
# заполняем признак 'Готовность к переезду'
def relocation(text): # функция определения готовности к переезду
    yes_list = ['готов','готова','хочу'] # список ключевых слов, определяющих готовность к переезду
    text_list = text.split(';') # преобразуем текст в список по разделителю
    
    if text_list[1][1:3] == 'м.': # определяем второй элемент списка это про метро или про готовность к переезду
        key_word = text_list[2]
    else:
        key_word = text_list[1]
        
    # вычленяем первое слово из фразы
    key_word = key_word.split()[0]
    if key_word in yes_list: # сравниваем со списком ключевых слов
        return True
    else:
        return False

data['Город, переезд, командировки'] = data['Город, переезд, командировки'].apply(lambda s: s.replace(' , ', ';')) # устанавливаем уникальный разделитель вместо запятой
data['Готовность к переезду'] = data['Город, переезд, командировки'].apply(relocation)

In [161]:
# заполняем признак 'Готовность к командировкам'
def businesstrip(text): # функция определения готовности к командировкам
    yes_list = ['готов','готова'] # список ключевых слов, определяющих готовность к переезду
    text_list = text.split(';')
    if text_list[1][1:3] == 'м.' and len(text_list) > 3: # определяем второй элемент списка это про метро или про готовность к переезду
        key_word = text_list[3]
    elif len(text_list) > 2:
        key_word = text_list[2]
    else:
        return False
    # вычленяем первое слово из фразы
    key_word = key_word.split()[0]
    if key_word in yes_list: # сравниваем со списком ключевых слов
        return True
    else:
        return False
        
data['Готовность к командировкам'] = data['Город, переезд, командировки'].apply(businesstrip)

In [162]:
# считаем сколько процентов соискателей готовы одновременно и к переездам, и к командировкам
a = data.shape[0]
b = data[(data['Готовность к командировкам'] == True) & (data['Готовность к переезду'] == True)].shape[0]
round( b / a * 100 )

32

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [163]:
#заполняем признаки-мигалки
data['FullOpp'] = data['Занятость'].apply(lambda s: True if s.find('полная занятость') >= 0 else False)
data['PartOpp'] = data['Занятость'].apply(lambda s: True if s.find('частичная занятость') >= 0 else False)
data['Project'] = data['Занятость'].apply(lambda s: True if s.find('проектная работа') >= 0 else False)
data['Voluntary'] = data['Занятость'].apply(lambda s: True if s.find('волонтерство') >= 0 else False)
data['Junior'] = data['Занятость'].apply(lambda s: True if s.find('стажировка') >= 0 else False)
data['FullDay'] = data['График'].apply(lambda s: True if s.find('полный день') >= 0 else False)
data['Change'] = data['График'].apply(lambda s: True if s.find('сменный график') >= 0 else False)
data['Flex'] = data['График'].apply(lambda s: True if s.find('гибкий график') >= 0 else False)
data['Remote'] = data['График'].apply(lambda s: True if s.find('удалённая работа') >= 0 else False)
data['Shift'] = data['График'].apply(lambda s: True if s.find('вахтовый метод') >= 0 else False)

In [164]:
# считаем сколько людей ищут проектную работу и волонтёрство
data[(data['Project'] == True) & (data['Voluntary'] == True)].shape[0]

436

In [165]:
# считаем сколько людей хотят работать вахтовым методом и с гибким графиком
data[(data['Shift'] == True) & (data['Flex'] == True)].shape[0]

2311

In [166]:
# удаляем признаки
data = data.drop(['FullOpp', 'PartOpp','Project','Voluntary','Junior','FullDay','Change','Flex','Remote','Shift'], axis=1)

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [167]:
#ваш код здесь
#читаем данные из csv-файла и заполняем таблицу DataFrame
currencies = pd.read_csv('data\ExchangeRates.csv', delimiter=',')
#приводим признак date к формату datetime
currencies['date'] = pd.to_datetime(currencies['date'], dayfirst=True)

In [220]:
#приводим признак Обновление резюме к формату date
data['Дата'] = str(data['Обновление резюме'])[9:19]
data['Дата'] = pd.to_datetime(data['Дата'], dayfirst=True)

In [168]:
#приводим признак Валюта к формату ISO
def currency_iso_format(salary_string): # функция конвертации кода валюты
    val = salary_string.split()[1]
    val_text = ['грн','белруб','сум']
    iso_codes = ['UAH','BYN','UZS']
    
    if 'грн' in val:
        return 'UAH'
    elif val == 'белруб' or val == 'бел.руб.':
        return 'BYN'
    elif 'сум' in val:
        return 'UZS'
    elif val == 'USD' or val == 'EUR' or val == 'KGS' or val == 'AZN' or val == 'KZT':
        return val
    elif val == 'руб.' or val == 'руб':
        return 'RUB'
    else:
        return val
    
data['ЗП (руб)'] = data['ЗП'].apply(lambda s: s.split()[0])
data['Валюта'] = data['ЗП'].apply(currency_iso_format)

In [217]:
# проверяем результат кодировки валют
data['Валюта'].value_counts()

RUB    42471
KZT     1108
USD      628
BYN      329
EUR      106
UAH       73
UZS       20
KGS        6
AZN        3
Name: Валюта, dtype: int64

In [221]:
joined_data = data.join(
    currencies.set_index(['date','currency']),
    on=['Дата','Валюта'],
    how='left'
)

In [222]:
joined_data[joined_data['Валюта'] == 'USD']

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,...,Готовность к переезду,Готовность к командировкам,Дата,ЗП (руб),Валюта,per,time,close,vol,proportion
147,5500 USD,"Разработчик ПО, аналитик, консультант","Пятигорск;готов к переезду (США, Австралия, Че...","частичная занятость, полная занятость",удаленная работа,"Canary Systems, Inc",.NET Development Team Lead (remotely),26.04.2019 12:14,Не указано,Высшее,...,True,True,2019-04-16,5500,USD,D,00:00,64.2469,0.0,1.0
240,2500 USD,"Программист, Начальник Отдела Информационных Т...",Актау;готов к переезду (Казахстан);не готов к ...,полная занятость,полный день,"АО ""Sky Silk""","Инженер программист 2-й категории, и.о. началь...",25.04.2019 13:29,Имеется собственный автомобиль,Высшее,...,True,False,2019-04-16,2500,USD,D,00:00,64.2469,0.0,1.0
268,600 USD,QA Engineer,Киев;не готов к переезду;не готов к командировкам,полная занятость,полный день,Test.io,Тестировщик ПО,22.04.2019 00:11,Не указано,Высшее,...,False,False,2019-04-16,600,USD,D,00:00,64.2469,0.0,1.0
347,400 USD,Специалист технической поддержки,Смоленск;готова к переезду;готова к командировкам,"частичная занятость, полная занятость","гибкий график, полный день, сменный график",Яндекс,Специалист службы заботы о клиентах,18.04.2019 08:21,Не указано,Высшее,...,True,True,2019-04-16,400,USD,D,00:00,64.2469,0.0,1.0
445,10000 USD,Директор офиса управления проектами,Москва; м. Царицыно;готов к переезду;готов к к...,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, удаленная работа",Lexako consulting,Директор офиса управления проектами,21.04.2019 18:36,Имеется собственный автомобиль,Высшее,...,True,True,2019-04-16,10000,USD,D,00:00,64.2469,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44403,800 USD,Junior ASP.Net / C# / Angular разработчик,Минск; м. Грушевка;готов к переезду;готов к ко...,полная занятость,полный день,Visutech System,Software engineer,22.04.2019 12:33,Имеется собственный автомобиль,Высшее,...,True,True,2019-04-16,800,USD,D,00:00,64.2469,0.0,1.0
44421,1000 USD,Сервисный инженер,Одинцово;готов к переезду;готов к редким коман...,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...","ООО ""ЦТО"" Весы-Столица""",Сервисный инженер,06.04.2019 02:29,Не указано,Неоконченное высшее,...,True,True,2019-04-16,1000,USD,D,00:00,64.2469,0.0,1.0
44543,350 USD,Тестировщик,Минск; м. Уручье;готов к переезду;готов к кома...,"стажировка, полная занятость","гибкий график, полный день, сменный график, уд...",УО БГАА,Инженер,22.04.2019 22:47,Имеется собственный автомобиль,Высшее,...,True,True,2019-04-16,350,USD,D,00:00,64.2469,0.0,1.0
44557,1500 USD,Программист-разработчик,Москва; м. Каширская;готов к переезду (США);го...,"стажировка, частичная занятость, проектная раб...","полный день, удаленная работа",НИЯУ МИФИ,Ассистент,27.08.2018 12:22,Не указано,Высшее,...,True,True,2019-04-16,1500,USD,D,00:00,64.2469,0.0,1.0
44685,1000 USD,PHP программист,Москва;готов к переезду;готов к командировкам,полная занятость,удаленная работа,Freelance,Full Stack разработчик,07.05.2019 02:09,Имеется собственный автомобиль,Высшее,...,True,True,2019-04-16,1000,USD,D,00:00,64.2469,0.0,1.0

In [226]:
joined_data[joined_data['Валюта'] == 'RUB']['close'] = 1

C:\Users\Ustenko-S\AppData\Local\Temp\ipykernel_10012\569305645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_data[joined_data['Валюта'] == 'RUB']['close'] = 1

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [172]:
# ваш код здесь

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [173]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака ЗП? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [174]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [175]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [176]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [177]:
# ваш код здесь

In [178]:
ваши выводы здесь

SyntaxError: invalid syntax (1506124366.py, line 1)

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [ ]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
# ваш код здесь

ваш коммментарий здесь