In [29]:
import pandas as pd
"""
Ваша задача очистить данную таблицу от пропусков следующим образом:
- Если признак имеет больше 50% пропущенных значений - удалите его
- Для оставшихся данных: если в строке более 2 пропусков - удалите строку
- Для оставшихся данных: числовые признаки заполните средним значением, а категориальные - модой
Результат должен находиться в переменной df
"""
df = pd.read_csv('data/test_data.csv')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5 entries, (1.331586504129518, 0.7152789743984055, -1.5454002921112682, 'bar') to (-0.9650656705167632, 1.028274077982704, 0.2286301301246597, 'bar')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     2 non-null      object
 1   two     1 non-null      float64
 2   three   3 non-null      float64
 3   four    1 non-null      object
 4   five    0 non-null      float64
dtypes: float64(3), object(2)
memory usage: 1.0+ KB

(5, 5)

In [23]:
df

                                  one  two  three  four  five
 1.331587 0.715279 -1.545400 bar  NaN  NaN    1.0   NaN   NaN
-0.008384 0.621336 -0.720086 bar  1.0  0.5    0.5   NaN   NaN
 0.265512 0.108549  0.004291 bar  yes  NaN    NaN   NaN   NaN
-0.174600 0.433026  1.203037 bar  NaN  NaN    1.2  hist   NaN
-0.965066 1.028274  0.228630 bar  NaN  NaN    NaN   NaN   NaN

In [30]:
threshold = df.shape[0]*0.5
df = df.dropna(axis=1, thresh=threshold, how='any')
df = df.dropna(axis=0, thresh=3, how='any')
df = df.fillna(value={
    'two':df['two'].mean(),
    'three':df['three'].mean(),
    'five':df['five'].mean(),
    'one':df['one'].mode(),
    'four':df['four'].mode()
    })
df.shape

KeyError: 'two'

In [27]:
df

                                  three
 1.331587 0.715279 -1.545400 bar    1.0
-0.008384 0.621336 -0.720086 bar    0.5
 0.265512 0.108549  0.004291 bar    NaN
-0.174600 0.433026  1.203037 bar    1.2
-0.965066 1.028274  0.228630 bar    NaN