# EDA-2. Математическая статистика в контексте EDA

In [6]:
import pandas as pd
import statistics

In [2]:
df_wine = pd.read_csv('data/wine_cleared.csv')

In [3]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            129971 non-null  object
 4   points                 129971 non-null  int64
 5   price                  129971 non-null  float64
 6   province               129908 non-null  object
 7   region_1               129971 non-null  object
 8   taster_name            129971 non-null  object
 9   taster_twitter_handle  129971 non-null  object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 12.9+ MB

Задание 2.1
Вычислите наименьший балл за вино в датасете.

In [4]:
df_wine['points'].min()

80

Задание 2.2
Вычислите наименьшую цену за бутылку в наборе данных.

In [5]:
df_wine['price'].min()

4.0

Задание 2.3
Вычислите среднюю стоимость бутылки вина при помощи функции statistics.mean() библиотеки statistics. Округлите значение до сотых.

In [9]:
round(statistics.mean(df_wine['price']),2)

35.36

In [10]:
df_wine['price'].mean()

35.363389129985535

Задание 2.5
Вычислите медиану стоимости бутылки вина при помощи функции statistics.median() библиотеки statistics. Округлите значение до сотых.

In [11]:
round(statistics.median(df_wine['price']),2)

28.0

Задание 2.6
Вычислите медиану стоимости бутылки вина при помощи стандартных функций Python.

In [12]:
df_wine['price'].median()

28.0

Задание 2.7
Вычислите моду стоимости бутылки (самую часто встречающуюся цену) вина при помощи функции statistics.mode() библиотеки statistics. Округлите значение до сотых.

In [13]:
round(statistics.mode(df_wine['price']),2)

35.36

In [14]:
df_wine['price'].mode()

0    35.363389
Name: price, dtype: float64